<div class="modal fade" id="transactionListModal" tabindex="-1" aria-labelledby="transactionListModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:75%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionListModalLabel">Transactions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* Will be inserted via javascript *@
            </div>
        </div>
    </div>
</div>
