@model StoEtDash.Web.Models.LoginViewModel;

@{
	ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/loginRegister.css" />
}

<div class="main-container">
    <div>
        <div class="header">
            <img src="~/images/logo_text_down.png"/>
            <hr />
        </div>
        <div>
            <form asp-action="OnLoginSubmit">
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Username:</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger validation-message"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password:</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger validation-message"></span>
                </div>
                <div class="row form-actions">
                    <div class="form-group col-md-6">
                        <input type="submit" value="Login" class="button button-primary" />
                    </div>
                    <div class="form-group col-md-6 d-flex justify-content-end">
                        <input onclick="window.location.href = '@Url.Action("Index", "Register")';" type="button" value="Register" class="button button-secondary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>