.main-container {
	display: grid;
	place-content: center;
	height: 100vh;
}

.header {
	text-align: center;
}

.form-group {
	margin-bottom: 25px;
}

.form-footer a {
	color: black;
	font-weight: bold;
}
