@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoEtDash.Web</title>
    <link rel="icon" href="~/images/logo_no_text.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StoEtDash.Web.styles.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    @if (ViewData["Title"]?.ToString() != "Register" && ViewData["Title"]?.ToString() != "Login")
    {
        <header>
            <nav class="navbar justify-content-between">
                <img class="navbar-brand" src="./images/logo_no_text.png" height="65">
                <form asp-action="Logout" class="form-inline">
                   <span>@httpContextAccessor?.HttpContext?.Session.GetString("Username")</span>
                    <button type="submit" class="button button-primary">Logout</button>
                </form>
            </nav>
        </header>
    }

    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @if (ViewData["Title"]?.ToString() != "Register" && ViewData["Title"]?.ToString() != "Login")
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - StoEtDash.Web - Created by Dominik Borbuliak
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
