.main-container {
	display: grid;
	place-content: center;
	height: 100vh;
}

.header {
	text-align: center;
}

.form-group {
	margin-bottom: 10px;
}

.form-actions a {
	color: black;
	font-weight: bold;
}

label {
	font-weight: bold !important;
}

.validation-message:empty:before {
	content: "\200b";
}
